@font-face {
  font-family: pixel;
  src: url("assets/fonts/Pixel Emulator.otf"); }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  font-family: "pixel";
  color: white;
  text-rendering: optimizeLegibility; }

.App {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  border: 1px solid black; }
  .App .main {
    position: relative;
    height: calc(100% - 200px);
    width: 100%;
    margin: 0 !important;
    padding: 0 !important; }
    .App .main .form-new-user {
      color: black !important; }
    .App .main .loading::before {
      background: rgba(214, 211, 10, 0.452) !important; }
    .App .main .sidebox .title {
      font-family: 'pixel';
      color: #ffcb33;
      font-size: 1.5em; }
    .App .main .sidebox .list-wrp {
      margin-top: 1em;
      max-height: 25vh;
      border-top: 1px solid rgba(255, 204, 51, 0.336);
      border-bottom: 1px solid rgba(255, 204, 51, 0.336);
      overflow-y: auto;
      text-align: left;
      padding: 25px 16px 25px 16px; }
    .App .main .menus {
      position: absolute;
      z-index: 30;
      width: 100%; }
    .App .main .win-balance-wrp {
      color: #ffcb33;
      font-family: "pixel"; }
      .App .main .win-balance-wrp p {
        margin: 10px; }
      .App .main .win-balance-wrp .value {
        font-size: 3em; }
      .App .main .win-balance-wrp .featured {
        font-size: 2em;
        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite; }
      .App .main .win-balance-wrp .coin {
        font-size: 1em; }
    .App .main .coin-wrp {
      position: relative;
      color: white; }
      .App .main .coin-wrp .coin {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        transform-style: preserve-3d;
        animation: spin 1.5s infinite linear; }
        .App .main .coin-wrp .coin .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("assets/img/ico_ethereum.png");
          background-size: cover;
          background-position: center center;
          backface-visibility: hidden; }
        .App .main .coin-wrp .coin .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("assets/img/ico_ethereum.png");
          background-size: cover;
          background-position: center center;
          transform-style: preserve-3d;
          transform: rotateY(180deg);
          backface-visibility: hidden; }
        .App .main .coin-wrp .coin .shade {
          position: absolute;
          bottom: -4px;
          left: 0;
          filter: blur(8px);
          height: 8px;
          width: 100%;
          background: rgba(0, 0, 0, 0.25);
          transform: rotateX(90deg); }
      .App .main .coin-wrp .coin-fast-to-furious {
        animation: animationFrames ease-in-out 0.8s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease-in-out 0.8s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames ease-in-out 0.8s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames ease-in-out 0.8s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease-in-out 0.8s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%; }
    .App .main .coin-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 100%;
      font-size: 100px;
      width: 100%;
      z-index: 20;
      background: rgba(37, 41, 104, 0.918);
      padding: 16px; }
  .App .header,
  .App .footer {
    position: relative;
    color: white;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important; }
  .App .footer {
    height: 100px; }
  .App .header {
    height: 100px; }
  .App .full-h {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important; }

@-webkit-keyframes color-change {
  0% {
    color: #fbff00; }
  25% {
    color: #09ff00; }
  30% {
    color: #0000ff; }
  50% {
    color: #f700ff; }
  70% {
    color: #00ffea; }
  100% {
    color: #ff0000; } }

@-moz-keyframes color-change {
  0% {
    color: #fbff00; }
  25% {
    color: #09ff00; }
  30% {
    color: #0000ff; }
  50% {
    color: #f700ff; }
  70% {
    color: #00ffea; }
  100% {
    color: #ff0000; } }

@-ms-keyframes color-change {
  0% {
    color: #fbff00; }
  25% {
    color: #09ff00; }
  30% {
    color: #0000ff; }
  50% {
    color: #f700ff; }
  70% {
    color: #00ffea; }
  100% {
    color: #ff0000; } }

@-o-keyframes color-change {
  0% {
    color: #fbff00; }
  25% {
    color: #09ff00; }
  30% {
    color: #0000ff; }
  50% {
    color: #f700ff; }
  70% {
    color: #00ffea; }
  100% {
    color: #ff0000; } }

@keyframes color-change {
  0% {
    color: #fbff00; }
  25% {
    color: #09ff00; }
  30% {
    color: #0000ff; }
  50% {
    color: #f700ff; }
  70% {
    color: #00ffea; }
  100% {
    color: #ff0000; } }

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1), rotateY(0deg); }
  40% {
    transform: rotateY(270deg), translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1); }
  100% {
    transform: rotateY(360deg), translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1); } }

@keyframes spin {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) scaleX(1); }
  15% {
    transform: translate(0px, -25px) scaleX(-1); }
  30% {
    transform: translate(0px, 0px) scaleX(-0.01); }
  45% {
    transform: translate(0px, -15px) scaleX(0.98); }
  60% {
    transform: translate(0px, 0px) scaleX(-0.44); }
  66% {
    transform: translate(0px, -8px) scaleX(-1.02); }
  75% {
    transform: translate(0px, -5px) scaleX(-0.12); }
  86% {
    transform: translate(0px, -5px) scaleX(0.97); }
  94% {
    transform: translate(0px, -5px) scaleX(-1.06); }
  100% {
    transform: translate(0px, 0px) scaleX(-1.06); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px) scaleX(1); }
  15% {
    -moz-transform: translate(0px, -25px) scaleX(-1); }
  30% {
    -moz-transform: translate(0px, 0px) scaleX(-0.01); }
  45% {
    -moz-transform: translate(0px, -15px) scaleX(0.98); }
  60% {
    -moz-transform: translate(0px, 0px) scaleX(-0.44); }
  66% {
    -moz-transform: translate(0px, -8px) scaleX(-1.02); }
  75% {
    -moz-transform: translate(0px, -5px) scaleX(-0.12); }
  86% {
    -moz-transform: translate(0px, -5px) scaleX(0.97); }
  94% {
    -moz-transform: translate(0px, -5px) scaleX(-1.06); }
  100% {
    -moz-transform: translate(0px, 0px) scaleX(-1.06); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px) scaleX(1); }
  15% {
    -webkit-transform: translate(0px, -25px) scaleX(-1); }
  30% {
    -webkit-transform: translate(0px, 0px) scaleX(-0.01); }
  45% {
    -webkit-transform: translate(0px, -15px) scaleX(0.98); }
  60% {
    -webkit-transform: translate(0px, 0px) scaleX(-0.44); }
  66% {
    -webkit-transform: translate(0px, -8px) scaleX(-1.02); }
  75% {
    -webkit-transform: translate(0px, -5px) scaleX(-0.12); }
  86% {
    -webkit-transform: translate(0px, -5px) scaleX(0.97); }
  94% {
    -webkit-transform: translate(0px, -5px) scaleX(-1.06); }
  100% {
    -webkit-transform: translate(0px, 0px) scaleX(-1.06); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px) scaleX(1); }
  15% {
    -o-transform: translate(0px, -25px) scaleX(-1); }
  30% {
    -o-transform: translate(0px, 0px) scaleX(-0.01); }
  45% {
    -o-transform: translate(0px, -15px) scaleX(0.98); }
  60% {
    -o-transform: translate(0px, 0px) scaleX(-0.44); }
  66% {
    -o-transform: translate(0px, -8px) scaleX(-1.02); }
  75% {
    -o-transform: translate(0px, -5px) scaleX(-0.12); }
  86% {
    -o-transform: translate(0px, -5px) scaleX(0.97); }
  94% {
    -o-transform: translate(0px, -5px) scaleX(-1.06); }
  100% {
    -o-transform: translate(0px, 0px) scaleX(-1.06); } }

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px) scaleX(1); }
  15% {
    -ms-transform: translate(0px, -25px) scaleX(-1); }
  30% {
    -ms-transform: translate(0px, 0px) scaleX(-0.01); }
  45% {
    -ms-transform: translate(0px, -15px) scaleX(0.98); }
  60% {
    -ms-transform: translate(0px, 0px) scaleX(-0.44); }
  66% {
    -ms-transform: translate(0px, -8px) scaleX(-1.02); }
  75% {
    -ms-transform: translate(0px, -5px) scaleX(-0.12); }
  86% {
    -ms-transform: translate(0px, -5px) scaleX(0.97); }
  94% {
    -ms-transform: translate(0px, -5px) scaleX(-1.06); }
  100% {
    -ms-transform: translate(0px, 0px) scaleX(-1.06); } }
